/* .hero-main{
    background: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/Vv03xyNwg/videoblocks-silhouette-of-a-web-developer-on-the-background-of-evening-skyscrapers_bc0ta-mrh_thumbnail-1080_05.png") no-repeat right/cover;
    background-attachment: scroll;
    position: relative;
    overflow: hidden;
    padding-top: 330px;
    padding-bottom: 330px;

    
    

}
.hero_text {
    max-width: 500px;
}
.hero-title {
    font-size: calc(1.275rem + .3vw);
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 700;
    box-shadow: 0 1rem 3rem rgba(162, 34, 34, 0.18);
    background-color: bisque;
    padding: 8px 24px;
    display: inline-block;
    border-radius:  var(--border-radius-large);
    color: #14B789;

}
.hero-subtitle{
    font-size: calc(1.275rem + .3vw);
    margin-bottom: 25px;
    margin-left: 50px;
    font-weight: 700;
    box-shadow: 0 1rem 3rem rgba(162, 34, 34, 0.18);
    background-color: bisque;
    padding: 8px 24px;
    display: inline-block;
    border-radius:  100px;
} */
/* .hero-main svg {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
  } */




/* hero */
*, ::after, ::before {
  box-sizing: border-box;
}
div {
  display: block;
}
  .hero {
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
    padding-top: 330px;
    padding-bottom: 330px;
    background-attachment: scroll;

  }
  /* .hero {
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
    padding-top: 330px;
    padding-bottom: 330px;
  } */
  
  @media  screen and (min-width: 991px) {
    .hero {
      height: 60vh;
    }
  }
  
  .hero-title,
  .hero h2 {
    background: var(--white-color);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border-radius: var(--border-radius-large);
    display: inline-block;
    padding: 8px 24px;
  }
  
  .hero-title {
    font-size: 44px;
  }
  
  .hero h2 {
    font-size: 38px;
  }
  
  .hero-text {
    position: relative;
    z-index: 22;
    top: 70px;
  }
  
  .hero-image-wrap {
    background: var(--white-color);
    border-radius: 100%;
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 22;
    top: -50px;
    right: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
  }
  
  .hero-image {
    position: absolute;
    z-index: 22;
    top: 0;
    width: 100%;
    min-width: 550px;
  }
  
  .hero svg {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
  }
  
/* @media  screen and (min-width: 991px) {
    .hero {
      height: 60vh;
    }
    .hero {
      padding-top: 200px;
      padding-bottom: 400px;
    }
  
    .hero-text {
      top: 0;
      margin-bottom: 120px;
    }
  
  }
@media screen and (max-width: 480px) {
    .hero-image-wrap {
      width: 300px;
      height: 300px;
    }
  
    .hero-image {
      min-width: inherit;
    }
  } */
  
.hero-title,
.hero h2 {
    background: var(--white-color);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border-radius: var(--border-radius-large);
    display: inline-block;
    padding: 8px 24px;
  }
  
.hero-title {
      font-size: 44px;
  }
  
.hero h2 {
      font-size: 38px;
  }
  
.hero-text {
    position: relative;
    z-index: 22;
    top: 70px;
  }
  
  .hero-image-wrap {
    background: var(--white-color);
    border-radius: 100%;
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 22;
    top: -50px;
    right: 0;
    left: 0;
    margin: 100px;
    pointer-events: none;

  }

  
  
.hero-image {
    position: absolute;
    z-index: 22;
    top: 0;
    width: 100%;
    min-width: 550px;
  }

  
.hero svg {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
  }
  @media screen and (min-width: 1600px) {
    .hero {
      padding-top: 380px;
      padding-bottom: 380px;
    }
  
    .hero-image-wrap {
      top: -50px;

      width: 400px;
      height: 400px;
    }
  
    .hero-image {
      min-width: 650px;
    }
    
    .hero-title,
      .hero h2 {
        font-size: var(--h2-font-size);
      }
  }
  /* avatar-image */
  .avatar-image {
    border-radius: var(--border-radius-large);
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  
  .avatar-image-large {
    width: 90.4px;
    height: 90.4px;
  }
  