.featured-numbers {
    font-size: var(--h1-font-size);
    line-height: normal;
    display: block;
  }
  
  .featured-text {
    color: var(--secondary-color);
  }
  
  .featured-border-bottom {
    border-bottom: 1px solid var(--border-color);
  }
  
  .featured-border-start {
    border-left: 1px solid var(--border-color);
  }
  